<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daedalus Minecraft</title>
    <link rel="stylesheet" href="/static/css/bulma-custom.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="mcbg">
    <div class="section">

        <div class="container" style="background-color: #2c001e; outline: 0.1em solid #ffffff;">
            <nav class="level" style="margin-bottom: 0.5em;">
                <div class="level-left"></div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading has-text-white">Daedalus Minecraft</p>
                        <p class="title has-text-white">Server Listing</p>
                    </div>
                </div>
            </nav>
            <hr style="margin: 0 auto; width:99.5%; height: 0.1em;">
            <table class="table">
                <tr class="is-selected">
                    <td>Test</td>
                    <td>Table</td>
                </tr>
            </table>
        </div>

    </div>
</div>


</body>
</html>